@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Fraunces');


body{
   background-color:  hsl(30, 38%, 92%);
   font-size: 14px;
   display: flex;
   margin: 0 auto;
   max-width: max-content;
   margin-top: 10%;

}
.imagee{
    width: 240px;
    height: 390px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;

}
.text{
    width: 240px;
    height: 390px;
    background-color: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-left: 20px;
    color: black;
    }
    .perfume{
       margin-top: 25px;
       margin-bottom: 20px;
       color: hsl(228, 12%, 48%);
    }
    .gabrielle{
        font-family: "Fraunces", sans-serif;
        font-weight: 700;
        font-size: 30px;
        line-height: 25px;
        margin-bottom: 20px;

    }
.floral{
    line-height: 20px;
    color: hsl(228, 12%, 48%);
    margin-bottom: 25px;
    font-family: "Montserrat", sans-serif;
}
.amountone{
    color: hsl(158, 36%, 37%);;
    font-weight: bold;
    font-size: 20px;
    font-family: "Fraunces", sans-serif;
    margin-right: 20px;
    margin-bottom: 20px;
}
.amount{
    display: flex;
}
.amounttwo{
    text-decoration: line-through;
    padding-top: 3px;
    color: hsl(212, 21%, 14%);


}
button{
    align-items: center;
    width: 200px;
    padding-left: 30px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 5px;
    box-shadow: none ;
    background-color: hsl(158, 36%, 37%);;
    color: white;
    border: 0px;
    font-size: 12px;
    margin-top: 20px;

}

.attribution {
    position: fixed;
    top: 85%
  
}
   
@media (max-width :375px ) {
        body{
            display: block;
        }
        .imagee{
            width: 300px;
            height: 220px;
            margin-top: 15px;
            margin-bottom: 0px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            border-bottom-left-radius: 0px;
            margin-left: 10px;
            margin-right: 10px;
            box-sizing: border-box;
        }
        .text{
            width: 300px;
            margin-top: -10px;
            margin-bottom: none;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
            margin-left: 10px;
            margin-right: 10px;
            box-sizing: border-box;
            padding-left: 20px;
            padding-top: 5px;
        }
        .attribution{
            position: fixed;
            bottom: 0;

        }
    }

    
